@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div>
    <span><b>Show:</b></span>
    @Html.DropDownList("ListItems", "-- Select One --")

    <table id="GridView">
        <tr>
            <td><a href="test.com">Test</a></td>
        </tr>
    </table>

<script>
    $(document).ready(function () {
        $("#ListItems").change(function () {
            switch ($("#ListItems").val()) {
                case "1": alert("You have selected 1"); break;
                case "2": alert("You have selected 2"); break;
                case "3": alert("You have selected 3"); break;
            }
        });
    });
</script>